@charset "UTF-8";

body {
    padding-bottom: 500px;

}

/* 1 - flex */
div.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 2 - flex conlumn */
div.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 3 - wrap */
div.wrap {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
}

div.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
    margin-bottom: 20px;
}

/* justify content */
div.center,
div.space-around,
div.space-between,
div.end,
div.space-evenly {
    display: flex;
    margin-bottom: 20px;
}
div.center div.box,
div.space-around div.box,
div.space-between div.box,
div.end div.box,
div.space-evenly div.box,
div.center div.box,
div.align-center div.box,
div.flex-end div.box,
div.stretch div.box {
    width: 50px;
}

div.center {
    justify-content: center;
}

div.space-around {
    justify-content: space-around;
}

div.space-evenly {
    justify-content: space-evenly;
}

div.space-between {
    justify-content: space-between;
}

div.end {
    justify-content: end;
}

/* align items */
div.center,
div.align-center,
div.flex-end,
div.stretch {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid blue;
}

div.align-center {
    justify-content: center;
    align-items: center;
}
div.flex-end {
    align-items: flex-end;
}

div.stretch {
    align-items: stretch;
}

div.stretch div.box {
    height: auto;
}