@charset "UTF-8";

/* 4 - External */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
h3 {
    color: green;
}

h2 {
    border-bottom: 2px solid red;
}

/* Ordem do CSS */
h2#some-title {
    border-color: green;
} 
h2.title{
    border-color: blue;
}

/* nome de cores */
.clor-name {
    color: #dc143c6b
}

/* bg opacity */
section.bg-opacity {
    background-color: green;
    font-size: 2em;
    color: blue;
    opacity: 0.1;
}
section.bg-opacity-2 {
    background-color: #999;
    font-size: 2em;
    color: black;
    opacity: 0.6;
}
 /* bg image */
 section.bg-image {
    background-image: url(../img/img05.jpg);
    color: white;
    margin-bottom: 16px;
    padding: 5px;
 }

 /* lagura e altura */
 div.height-width {
    height: 50px;
    width: 50px;
    background-color: purple;
    box-sizing: border-box;
 }

 /* padding with width */
 div.without-border-box {
    width: 400px;
    margin: 25px;
    padding: 25px;
    background-color: #444;
    color: white;
 }
 div.border-box {
    width: 400px;
    margin: 25px;
    padding: 25px;
    background-color: #444;
    color: white;
    box-sizing: border-box;
 }

 /* border individual */
 div.border-test-01 {
    border-left: 3px solid red;
    padding: 10px;
    background-color: #444;
    color: white;
 }
 div.border-test-02 {
    border-bottom: 5px double red;
    padding: 10px;
    background-color: black;
    color: white;
 }

 /* text decoration */
div.text-through {
    font-size: 2em;
    text-decoration: line-through;
}

/* font style */
p.italic {
    font-style: italic;
}
p.oblique {
    font-style: oblique;
    font-weight: lighter;
}

/* position */
div.static > span {
    position: static;
    background-color: #391;
}

/* pisition relative */
.relative {
    position: relative;
    background-color: #224;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 16px;
    top: 100px;
    left: 40px;
}
div.absolute {
    position: absolute;
    background-color: brown;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 16px;
    top: 2px;
    left: 2px;
}

/* relatie with absolute */
div.relative-conteiner {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}
div.absolute-1, 
div.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #422;
    position: absolute;
}
div.absolute-1{
    top: 10px;
    left: 10px;
}
div.absolute-2 {
    bottom: 10px;
    right: 10px;
}
div.fixed {
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    position: fixed;
    top: 0px;
    right: 0px;
}

/* sticky */
div.sticky {
    width: 100px;
    height: 100px;
    background-color: green;
    position: sticky;
    top: 0px;
    left: 0px;
}