@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
main.container {
    width: 1000px;
    padding: 40px;
    margin: auto;
    background-color: white;
}
header > h1 {
    text-align: center;
    margin: 30px 0px;
    font-weight: bold;
    font-size: 2.2em;
}
header > p.main-paragraph {
    text-align: center;
    font-style: italic;
    font-size: 16.5px;
    margin-bottom: 30px;
}
section.featured {
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}
figure > img {
    display: block;
    margin: auto;
}
figure > figcaption {
    text-align: center;
    font-size: 15px;
    margin: 5px 0px 30px 0px;
}
h2{
    margin: 30px 0px;
    font-size: 1.5em;
}
article.biografia-container {
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    padding: 30px 0px;
}
article.biografia-container > p {
    margin: 16px 0px; 
    text-indent: 19px;
    line-height: 1.2em;
}
strong {
    font-weight: bold;
}
aside.quotes-container {
    background-color: lightgray;
    padding: 50px;
    margin-bottom: 50px;
}
aside.quotes-container > blockquote {
    font-size: 1.5em;
    font-weight: bolder;
}
aside.quotes-container > em > small {
    font-style: italic;
}
section.curiosities-container > ul {
    margin: 40px;
    line-height: 1.7em;
}
li {
    list-style-type: '\2714\00A0\00A0';
}